<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="development, dev, prod, default, local">
        <property name="HOME_LOG" value="logs/app.log"/>
        <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %m%n" />
        <property name="LOG_DIR" value="${LOG_DIR:-logs}"/>

        <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_DIR}/app.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_DIR}/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <!-- each archived file, size max 10MB -->
                <maxFileSize>5MB</maxFileSize>
                <!-- total size of all archive files, if total size > 20GB,
                it will delete old archived file -->
                <totalSizeCap>2GB</totalSizeCap>
                <!-- 60 days to keep -->
                <maxHistory>20</maxHistory>
            </rollingPolicy>

            <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                    <timestampFormat>yyyy-MM-dd HH:mm:ss.SSS</timestampFormat>
                    <timestampFormatTimezoneId>Asia/Seoul</timestampFormatTimezoneId>
                    <appendLineSeparator>true</appendLineSeparator>
                    <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                        <prettyPrint>false</prettyPrint>
                    </jsonFormatter>
                </layout>
            </encoder>
            <!--
            <encoder>
                <pattern>${LOG_PATTERN}</pattern>
            </encoder>
            -->

        </appender>

        <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${LOG_PATTERN}</pattern>
            </encoder>
        </appender>
    </springProfile>

    <logger name="fileLogger" level="warn" additivity="true">
        <appender-ref ref="fileAppender"/>
    </logger>

    <root level="info" >
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="fileAppender" />
    </root>

</configuration>

